body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #2c3e50;
}

a {
  color: #00a6ac;
}

strong {
  font-weight: bolder;
}

h3 {
  font-size: 1.8em;
}

nav  {
  background-color: #2c3e50;
  box-shadow: none;
  height: 80px;
  border-bottom: 3px solid #2c3e50;
}

nav ul a {
  color: white;
  padding-top: 5px;
  font-weight:bolder;
}

nav ul a.active {
  color: #00a6ac;
}

nav a {
  color: white;
}

.home-info-container {
  height: 330px;
  background:  #2c3e50 url('../images/home-image.svg') bottom center no-repeat;
  background-size: 70%;
}

@media screen and (max-width: 480px) {
  .home-info-container {
    background-size: 300px;
  }
}

@media screen and (min-width: 1300px) {
  .home-info-container {
    background-size: 60%;
  }
}

.home-info-container p {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 1.4em;
  color: white;

}

.blue-section {
  background-color: #35495e;
  color: white;
  text-align: center;
  padding: 50px !important;
  font-size: 1.2em;
}

.blue-section a {
  color: #21a186;
}

.event {
  background-color: #21a186;
  color: #2c3e50;
  border-radius: 6px;
  padding: 10px;
  margin:10px !important;
  min-height: 300px;
}

.event:hover {
  background-color: #14a085;
}

.grey-section {
  background-color: #ecf0f1;
  padding-bottom: 20px;
}


.lightgrey-section {
  background-color: #F8FDFE;
  padding-bottom: 20px;
}

.green-section {
  background-color: #21a186;
  color: #2c3e50;
  text-align: center;
  padding: 20px 50px;
  font-size: 1.2em;
  border-bottom: #14a085 solid 3px;
}

.green-section a {
  color: #2c3e50;
  text-decoration: underline;
}

.event-details {
  padding-top:  10px !important;
}

.event-details .event-name {
  font-weight: bolder;
  font-size: 1.3em;
}

#map {
  height: 300px;
  margin-bottom: 40px;
}

footer.page-footer {
  background-color: #2c3e50;
}

footer a {
  color: #00a6ac !important;
}

.breadcrumbs {
  background-color: #2c3e50;
  color: white;
  padding: 1px 1px 1px 10px;
}

.breadcrumb li {
  display: inline-block;
}

.side-nav li:hover, .side-nav li.active {
  background-color: transparent;
  color: #21a186;
}

nav ul a:hover {
  background-color: transparent;
  color: #21a186;
}

ul.post-list {
  @extend ul;
  margin: 0;
  padding: 0;
  list-style-type: none;

  a.post-list-link {
      font-style: italic;
      color: #444;
      position: relative;
      text-decoration: none;
    }
    a.post-list-link:after{
       position: absolute;
       left: 0px;
       bottom: 0;
       content: '';
       width: 100%;
       border-bottom-width: 1px;
       border-bottom-style: solid;
    }

  .post-list-item {
    margin-bottom: 10px;
    p {
      margin-bottom: 0px;
      display: inline;
    }
    .post-list-title {
      color: $home-color;
      font-family: $sans-serif-font-family;
      font-weight: 400;
      font-size: $base-font-size * 1.2;
      font-style: normal;
      display: block;
      margin-bottom: 0px;
    }
  }
}
