html,
body {
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	background: #636466;
	min-width: 980px;
}


.conference-name, .conference-info {
	color: #fff;
}
.conference-name {
	font-size: 0.7em;
}
.conference-info {
	font-size: 0.5em;
}
#sidebar-second .block {
	background-color: #4E4E4E;
	color: #FCFCFC;
	text-shadow: 0 !important;
}
#sidebar-second .block a {
	color: #FCFCFC;
	text-decoration: underline;
}
#sidebar-second .block a:hover {
	color: #FCFCFC;
	text-decoration: none;
}
#footer-wrapper {
	padding: 0;
}
#sub-menu {
	background: #fff;
	width: 960px;
	margin: 0 auto;
}
#sub-menu ul {
	margin: 15px 15px 0.25em 16px;
	padding: 0;
	border-left: 1px solid #7a8088;
}
#sub-menu .content {
	margin: 0;
}
#sub-menu li {
	list-style: none;
	float: left;
	font-size: 0.9em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	padding: 2px 40px 2px 40px;
	border-right: 1px solid #7a8088;
	border-top: 1px solid #7a8088;
	border-bottom: 1px solid #7a8088;
	background: #D3D7D9;
}
#sub-menu li a {
	color: #000;
}
#sub-menu li.last {
}
#sub-menu li.active {
	background: #fff;
}
.field-name-field-author-list {
	font-weight: bold;
	margin-bottom: 20px;
}
.field-name-field-publisher-url {
	margin-top: 20px;
}
.view-papers .field-name-field-author-list {
	margin-bottom: 0;
	float: right;
	width: 560px;
}
.node-full .field-name-field-image {
	float: right;
	margin-left: 10px;
}
.view-grouping-header {
	font-size: 24px;
	font-weight: bold;
	margin-top: 25px;
}
.views-field-field-image {
	float: left;
	width: 50px;
	margin-right: 20px;
}
.views-row {
	clear: left;
	margin-bottom: 25px;
}
.imageflow img {
	cursor: pointer !important;
}
#header-rotation {
	position: absolute;
	right: 15px;
	top: 20px;
	/*
	float: right;
	margin-right:15px;
	padding-top: 5px;
	*/
}
#header .section {
	height: 196px;
}
#main-menu {
position: absolute;
bottom: 0;
}
#secondary-menu-links {
	background: #4E4E4E;
	padding: 3px;
}
.sidebar h2 {
	text-shadow: none;
	font-weight: bold;
}
#block-block-9 h2 {
	border-top: 2px solid #4E4E4E;
	margin-top: 50px;
}
.view-news .views-field-title {
	font-size: 1.5em;
	margin-bottom: 10px;
	margin-top: 30px;
}
.field-name-field-submission-type {
	font-style: italic;
	margin-bottom: 20px;
}