#widget-81c76f41-793c-2cf0-7808-af903f235ac5 .widget-content {
			height: 225px;
		}
		#widget-81c76f41-793c-2cf0-7808-af903f235ac5 .header-image {
			top: 0px;
			left: 0px;
			width: 1px;
		}#widget-81c76f41-793c-2cf0-7808-af903f235ac5 .header-logo {
				top: 107px;
				left: 10px;
			}#widget-81c76f41-793c-2cf0-7808-af903f235ac5 .header-title {
				top: 124px;
				left: 457px;
			}
			#widget-81c76f41-793c-2cf0-7808-af903f235ac5 .header-title a {
				color: #929ba3;
				font-weight: bold;
				font-size: 24px;
				font-style: normal;
				font-family: "Arial";
				text-decoration: none;
			}#widget-81c76f41-793c-2cf0-7808-af903f235ac5 .header-subtitle {
				top: 189px;
				left: 458px;
			}
			#widget-81c76f41-793c-2cf0-7808-af903f235ac5 .header-subtitle a {
				color: #cecdcd;
				font-weight: normal;
				font-size: 14px;
				font-style: normal;
				font-family: "Arial";
				text-decoration: none;
			}