<header class="header" role="banner">
  <div class="header-inner clearfix">
    <a class="brand pull-left" href="{{ site.baseurl }}/"><span class="site-title span11" title="{{ site.title }}">{{ site.title }}</span></a>
    <div class="header-search pull-right">
      <ul class="nav menu" id="top_button"><li><a href="http://www.ieeevis.org/">Back to IEEE VIS</a> </li></ul>
       <ul class="nav menu" id="top_button"><li><a href="https://www.iscb.org/">Back to ISMB</a></li></ul>
    </div>
  </div>
</header>

<div class="row-fluid">
  <div id="sidebar" class="span3">
    <div class="sidebar-nav">
      <div class="well ">
        <div class="custom">
	  <h1>{{ site.conferenceshort }}</h1>
    <h3>With IEEE Vis 2016:</h3>
    <p><i style="color:#8A3600; font-size:16px">{{ site.IEEEconferencedate }}</i></p>
    <h3>With ISMB 2016:</h3>
    <p><i style="color:#8A3600; font-size:16px">{{ site.ISMBconferencedate }}</i></p>

        </div>
      </div>
      <div class="well _menu">
        <h3 class="page-header">Menu</h3>
        <ul class="nav menu">
          <li><a class="page-link" href="{{ site.baseurl }}/">Home</a></li>
          {% for page in site.pages %}
            {% if page.title %}
  	      <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>


      <!--
      <div class="well mobile-hidden "><h3 class="page-header">Affilliated Tutorial</h3>
        <div class="custom">
          <p><strong>A Practical Introduction to Data Science in Python</strong> <br />
          Sunday, October 25th, 2015</p>

        </div>
      </div>
    -->

      <div class="well mobile-hidden "><h3 class="page-header">Important Dates</h3>
        <div class="custom">
	        <p><strong>Paper Submission Deadline:</strong><br>{{ site.deadline_submission }} </p>
          <p><strong>Author Notification:</strong><br>{{ site.deadline_notification }} </p>
          <p><strong>Camera Ready Submission:</strong><br>{{ site.deadline_camera }} </p>
        <p></p>
        <p><strong>Poster Submission Deadline:</strong><br>{{ site.deadline_poster }} </p>
        </div>
      </div>

      <div class="well "><h3 class="page-header">Sponsors</h3>
        <div class="custom">
          <p> BioVis 2016 is an official SIG of <a href="https://www.iscb.org/ismb2016"> ISMB 2016</a></p>
          <a href="https://www.iscb.org"><img src="{{site.baseurl }}/images/sponsors/ISCB.jpg" alt="ISCB" /></a>
          <hr>
<!--
	  <p><strong>Platinum</strong></p>
          <a href="http://www.autodeskresearch.com/"><img src="{{site.baseurl }}/images/sponsors/autodesk.png" alt="Autodesk Research" /></a>
          <br><br>
          <p><strong> Bronze</strong> </p>
           <a href="http://www.mathmed.org"><img src="{{site.baseurl }}/images/sponsors/bcmm_logo_sm.png" alt="BCMM" /></a>
           <a href="http://www.nvidia.com"><img src="{{site.baseurl }}/images/sponsors/NVIDIA.png" alt="NVIDIA" /></a>
       	  <hr>
	   <p> We also acknowledge the support of <strong>BMC</strong>:</p>
          <a href="http://www.biomedcentral.com/"><img src="{{site.baseurl }}/images/sponsors/publications_BMC.jpg" alt="BMC" /></a>
	  <hr>
  --> 
	  <p> Please check out our <a href="http://www.biomedcentral.com/bmcbioinformatics/series/BioVis2014">thematic series</a> in conjunction with BioVis 2014 and the <a href="http://www.biomedcentral.com/bmcproc/supplements/8/S2">proceedings</a> in conjunction with BioVis 2013.</p> 
<!--         
	   <a href="http://www.springer.com/us/"><img src="{{site.baseurl }}/images/sponsors/SpringerLogo.png" alt="Springer" /></a>
 -->
	</div>
      </div>

    </div>
  </div>

<main id="content" role="main" class="span9">
    <div class="moduletable">

      <div class="custom mobile-hidden">
        <p><img style="border: 0px solid #000000;" src="{{ "/images/banner.jpg" | prepend: site.baseurl }}" alt="banner-15" width="710" height="253"></p>
      </div>
  </div>
