<div class="body">
    <nav>
        <div class="nav-wrapper">

            <ul id="ismb" class="dropdown-content">
                <li><a href="{{ site.baseurl }}/program_ismb">Overview</a></li>
                <li class="divider"></li>
                <li><a href="{{ site.baseurl }}/cfp_ismb">Call for Participation</a></li>
                <!--<li><a href="{{site.baseurl}}/cfp_ismb/#subType" class="disabled"style="color: lightgrey;">Submission Info</a></li>-->
                <li><a href="{{site.baseurl}}/cfp_ismb/#subType">Submission Info</a></li>
                <li><a href="{{ site.baseurl }}/registration_ismb">Registration</a></li>
                <li class="divider"></li>
                <li><a href="{{ site.baseurl }}/program_ismb">Program</a></li>
                <li><a href="{{ site.baseurl }}/papers_ismb_accepted">Accepted Papers</a></li>
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdjeORCUxWVZMa21YgKvzhUJB9SA07J_cTdsqmiMQK-M4VSUQ/viewform"> Survey</a></li>
                <!--<li><a href="{{ site.baseurl }}/posters_ismbAccepted">Accepted Posters</a></li>-->
            </ul>

            <ul id="vis" class="dropdown-content">
                <li><a href="{{ site.baseurl }}/ieeevis">BioVis @ IEEE VIS</a></li>
                <ul style="margin-left:20px;">
                  <li><a href="{{ site.baseurl }}/ieeevis">Overview</a></li>
                  <li><a href="{{ site.baseurl }}/biovisChallenges_vis">BioVis Challenges</a></li>
                  <!--<li><a href="{{ site.baseurl }}//papers_ieeevis_Accepted/" class="disabled" style="color:lightgrey;">Papers</a></li>-->
                  <li><a href="{{site.baseurl}}/program_ieee" class="disabled" style="color: lightgrey;">Program</a></li>
                </ul>
                <li class="divider"></li>
                <li><a href="{{site.baseurl}}/dream">Contest @ DREAM</a></li>
            </ul>

             <ul id="other" class="dropdown-content">
                 <li><a href="#">Meetings</a></li>
                <ul style="margin-left:20px;">
                    <li><a href="https://vizbi.org/">VIZBI</a></li>
                    <li><a href="http://www.vcbm.org/">VCBM</a></li>
                </ul>
                <li class="divider"></li>
               <li><a href="#">Websites</a></li>
                 <ul style="margin-left:20px;">
                    <li><a href="http://bivi.co/">BIVI</a></li>
                 </ul>
            </ul>



            <a href="{{ site.baseurl }}/" class="brand-logo"><img src="{{ site.baseurl }}/images/logo-white.svg"
                                                                  width="150"/></a>
            <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a class="dropdown-button" href="#!" data-beloworigin="true" data-activates="ismb">Annual Meeting @ ISMB<i
                      class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button" href="#!" data-beloworigin="true" data-activates="vis">Other Activities<i
                        class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button" href="#!" data-beloworigin="true" data-activates="other">Community Resources<i
                        class="material-icons right">arrow_drop_down</i></a></li>

                <!--<li><a href="{{site.baseurl}}/dream">@DREAM</a></li>-->

                <li><a href="{{ site.baseurl }}/committee.html">Committee</a></li>
                <li><a href="{{ site.baseurl }}/previousYears/">Previous Years</a></li>
                <li><a href="{{ site.baseurl }}/joinus.html">Join BioVis Community</a></li>

            </ul>
            <ul class="side-nav" id="mobile">

                <li><a href="{{ site.baseurl }}/program_ismb/">Annual Meeting @ ISMB</a>
                    <ul>
                      <li><a href="{{ site.baseurl }}/program_ismb/">Overview</a></li>
                      <li><a href="{{ site.baseurl }}/cfp_ismb">Call for Participation</a></li>
                      <!--<li><a href="{{ site.baseurl }}/submission_ismb" class="disabled"style="color: lightgrey;">Abstract Submission</a></li>-->

                      <li><a href="{{site.baseurl}}/cfp_ismb/#subType"> Submission Info</a></li>
                      <li><a href="{{ site.baseurl }}/registration_ismb">Registration</a></li>
                      <li><a href="{{ site.baseurl }}/program_ismb">Program</a></li>
                      <li><a href="{{ site.baseurl }}/papers_ismb_accepted">Accepted Papers</a></li>
                      <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdjeORCUxWVZMa21YgKvzhUJB9SA07J_cTdsqmiMQK-M4VSUQ/viewform"> Survey</a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li><a href="{{ site.baseurl }}/ieeevis/">Other Activities</a>
                    <ul>
                      <li><a href="{{ site.baseurl }}/ieeevis">BioVis @ IEEE VIS</a></li>
                      <ul style="margin-left:20px;">
                        <li><a href="{{ site.baseurl }}/ieeevis">Overview</a></li>
                        <li><a href="{{ site.baseurl }}/biovisChallenges_vis" >BioVis Challenges </a></li>
                        <li><a href="{{site.baseurl}}/program_ieee" class="disabled" style="color: lightgrey;">Program</a></li>
                        <!--
                        <li><a href="{{ site.baseurl }}//papers_ieeevis_Accepted/" class="disabled" style="color: lightgrey;">Papers</a></li>
                        <li><a href="{{site.baseurl}}/program_ieee" class="disabled" style="color: lightgrey;">Program</a></li>
                    -->
                    </ul>
                      <li><a href="{{site.baseurl}}/dream">Contest @ DREAM</a></li>
                    </ul>
                <li class="divider"></li>
                </li>
                 <li><a href="#">Community Resources</a></li>
                  <ul>
                      <li><a href="#">Meetings</a></li>
                        <ul style="margin-left:20px;">
                            <li><a href="https://vizbi.org/">VIZBI</a></li>
                            <li><a href="http://www.vcbm.org/">VCBM</a></li>
                        </ul>

                    	<li><a href="#">Websites</a></li>
                    	<ul style="margin-left:20px;">
                        	<li><a href="http://bivi.co/">BIVI</a></li>
                   		</ul>
           		 </ul>
           		<li class="divider"></li>
                <li><a href="{{ site.baseurl }}/committee.html">Committee</a></li>
                <li class="divider"></li>
                <li><a href="{{ site.baseurl }}/previousYears/">Previous Years</a></li>
            </ul>
        </div>
    </nav>
