<div class="body">
    <nav>
        <div class="nav-wrapper">

            <ul id="vis" class="dropdown-content">
                <li><a href="{{ site.baseurl }}/ieeevis">Overview</a></li>
                <li class="divider">
                <li><a href="{{ site.baseurl }}/cfp_vis">Call for Participation</a></li>
                <!--<li><a href="{{ site.baseurl }}/papers">Paper Submissions</a></li>-->
                <!--<li><a href="{{ site.baseurl }}/posters_ieee">Posters Submission</a></li>-->
                <li><a href="{{ site.baseurl }}//papers_ieeevis_Accepted/">Papers</a></li>
                <li><a href="{{ site.baseurl }}/posters_ieeevis_Accepted/">Posters</a></li>
                <li><a href="{{ site.baseurl }}/designContest_vis">Design Contest</a></li>
                <li class="divider"></li>
                <li><a href="{{site.baseurl}}/program_ieee">Program</a></li>
                <li class="divider"></li>
                <li><a href="https://goo.gl/0Z1TiF">Survey</a></li>
            </ul>
            <ul id="ismb" class="dropdown-content">
                <li><a href="{{ site.baseurl }}/ismb">Overview</a></li>
                <li class="divider"></li>
                <li><a href="{{ site.baseurl }}/cfp_ismb">Call for Participation</a></li>
                <li><a href="{{ site.baseurl }}/submission_ismb">Abstract Submission</a></li>
                <li><a href="{{ site.baseurl }}/registration_ismb">Registration</a></li>
                <li class="divider"></li>
                <li><a href="{{ site.baseurl }}/program_ismb">Program</a></li>
                <!--<li><a href="{{ site.baseurl }}/posters_ismbAccepted">Accepted Posters</a></li>-->
            </ul>

            <a href="{{ site.baseurl }}/" class="brand-logo"><img src="{{ site.baseurl }}/images/logo-white.svg"
                                                                  width="150"/></a>
            <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="dropdown-button" href="#!" data-beloworigin="true" data-activates="vis">@IEEE VIS<i
                        class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button" href="#!" data-beloworigin="true" data-activates="ismb">@ISMB<i
                        class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="{{site.baseurl}}/dream">@DREAM</a></li>

                <li><a href="{{ site.baseurl }}/committee.html">Committees</a></li>
                <li><a href="{{ site.baseurl }}/previousYears/">Previous Years</a></li>
            </ul>
            <ul class="side-nav" id="mobile">
                <li><a href="{{ site.baseurl }}/ieeevis/">@IEEE VIS 2016</a>
                    <ul>
                      <li><a href="{{ site.baseurl }}/ieeevis">Overview</a></li>
                      <li class="divider">
                      <li><a href="{{ site.baseurl }}/cfp_vis">Call for Participation</a></li>
                      <!--<li><a href="{{ site.baseurl }}/papers">Paper Submissions</a></li>-->
                      <!--<li><a href="{{ site.baseurl }}/posters_ieee">Posters Submission</a></li>-->
                      <li><a href="{{ site.baseurl }}//papers_ieeevis_Accepted/">Papers</a></li>
                      <li><a href="{{ site.baseurl }}/posters_ieeevis_Accepted/">Posters</a></li>
                      <li><a href="{{ site.baseurl }}/designContest_vis">Design Contest</a></li>
                      <li class="divider"></li>
                      <li><a href="{{site.baseurl}}/program_ieee">Program</a></li>
                      <li class="divider"></li>
                      <li><a href="https://goo.gl/0Z1TiF">Survey</a></li>
                    </ul>
                </li>

                <li><a href="{{ site.baseurl }}/ismb/">@ISMB 2016</a>
                    <ul>
                      <li><a href="{{ site.baseurl }}/ismb">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="{{ site.baseurl }}/cfp_ismb">Call for Participation</a></li>
                      <li><a href="{{ site.baseurl }}/submission_ismb">Abstract Submission</a></li>
                      <li><a href="{{ site.baseurl }}/registration_ismb">Registration</a></li>
                      <li class="divider"></li>
                      <li><a href="{{ site.baseurl }}/program_ismb">Program</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.baseurl }}/previousYears/">Previous Years</a></li>
            </ul>
        </div>
    </nav>
