---
layout: page
---

<!-- use talk.position and talk.time -->

<h3>Summary</h3>
<div class="sumTime">08:30-10:10</div> <div class="sumContent">Data Science and Visualization for Scientific Discovery</div>
    <div>Invited Speakers: Torsten Möller, Jeff Heer, Rumi Chunara</div>
<br />
<div class="sumTime">10:30-12:00</div>  <div class="sumContent">Health and Spatio-Temporal Data</div>
<div>Panel Discussion, Paper Presentations</div>
<br />
<div class="sumTime">02:00-03:30</div>  <div class="sumContent"> Journalism, Sports, and Data Exploration</div>
<div>Invited Speakers: Rachel Schutt, Luke Bornn, Feifei Li</div>
<br />
<div class="sumTime">04:00:-05:50</div>  <div class="sumContent">Databases and Algorithms</div>
<div>Panel Discussion, Paper Presentations</div>
<br />
<div class="sumTime">06:00:-07:30</div>  <div class="sumContent">Poster Reception</div>

<br>
<br>
<h3>Session 1: Data Science and Visualization for Scientific Discovery</h3>
<span class="time">8:30-10:10, Session Chair: Marc Streit </span>

<div class="talk">
    <div class="ttitle">Opening Address</div>
</div>

{% include invited_talk.html time="8:40-10:10" key="moeller" %}

{% include invited_talk.html time="8:40-10:10" key="heer" %}

{% include invited_talk.html time="8:40-10:10" key="chunara" %}

<br>
<h3>Session 2: Health and Spatio-Temporal Data</h3>
<span class="time">10:30-12:00, Session Chair: Hanspeter Pfister</span>

<div class="talk">
    <div class="ttitle">Panel I: Challenges in Visualization for Data Science</div>
    <div> <span class="tspeaker">Torsten Möller, Jeff Heer, Rumi Chunara</span></div>
    <div>Moderator: Hanspeter Pfister</div>
</div>


{% include paper.html time="8:40-10:10" key="5" %}
{% include paper.html time="8:40-10:10" key="6" %}
{% include paper.html time="8:40-10:10" key="1" %}


<br>
<h3>Session 3: Journalism, Sports, and Data Exploration</h3>
<span class="time">2:00-3:30, Session Chair: Alexander Lex</span>

{% include invited_talk.html time="8:40-10:10" key="schutt" %}

{% include invited_talk.html time="8:40-10:10" key="bornn" %}

{% include invited_talk.html time="8:40-10:10" key="li" %}


<br>
<h3>Session 4: Databases and Algorithms</h3>
<span class="time">4:00-5:50, Session Chair: Claudio Silva</span>

<div class="talk">
    <div class="ttitle">Panel II: Challenges in Visualization for Data Science</div>
    <div> <span class="tspeaker">Rachel Schutt, Luke Bornn, Feifei Li</span></div>
    <div>Moderator: Claudio Silva</div>
</div>

{% include paper.html time="8:40-10:10" key="7" %}
{% include paper.html time="8:40-10:10" key="2" %}
{% include paper.html time="8:40-10:10" key="3" %}
{% include paper.html time="8:40-10:10" key="4" %}

<div class="talk">
    <div class="ttitle">Closing</div>
</div>



 <br />
<h3>Poster Reception</h3>
<span class="time">6:00-7:30</span>
<br />
<br />

{% for poster in site.data.posters %}

<div>
    <div class="ptitle">{{poster.title}}</div>
    <div><span class="pauthor">{{poster.authors}}</span></div>
    <br />
</div>
{% endfor %}